### NAME : Jared Gutierrez
### ID : 26505854

# Dataset

Imports

In [37]:
import pandas as pd
import numpy as np

In [38]:
dataset = pd.read_excel("Kaggle_survey_responses.xlsx")

In [39]:
dataset.shape

(2958, 19)

# Cleaning Up Data

In [40]:
dataset = dataset.rename(index=str, columns={
    "Q1-How many events have you Volunteered in ?": "volunteer_events", 
    "Q2-How many events have you Participated in ?": "participated_events",
    "Q3-How many activities are you Interested in ?":"activities_interested_in",
    "Q4-How many activities are you Passionate about ?": "activities_passionate_about",
    "Q5-What are your levels of stress ?": "stress_lvl",
    "Q6-How Satisfied You are with your Student Life ?": "satisfaction_lvl",
    "Q7-How much effort do you make to interact with others ?": "Effort to Interact with Others",
    "Q8-About How events are you aware about ?": "Events Aware About",
    "Q9-What is an ideal student life ?": "Ideal Student Life Response"})

In [41]:
dataset.columns

Index(['Career', 'Citizenship', 'Nationality', 'Year since Matriculation',
       'Year of Study', 'Primary Programme', 'Gender', 'Department',
       'Housing Type', 'volunteer_events', 'participated_events',
       'activities_interested_in', 'activities_passionate_about', 'stress_lvl',
       'satisfaction_lvl', 'Effort to Interact with Others',
       'Events Aware About', 'response_id', 'Ideal Student Life Response'],
      dtype='object')

In [42]:
dataset.head()

,Career,Citizenship,Nationality,Year since Matriculation,Year of Study,Primary Programme,Gender,Department,Housing Type,volunteer_events,participated_events,activities_interested_in,activities_passionate_about,stress_lvl,satisfaction_lvl,Effort to Interact with Others,Events Aware About,response_id,Ideal Student Life Response
0,UGRD,Foreigner,Indonesia,2,2,Bachelor of Science,F,School of Science,Residences,0,1,3,1,1,2,2.0,2.0,1,NaN
1,UGRD,Country Citizen,Singapore,1,1,Bachelor of Engineering,F,School of Engineering,Out of Campus,0,1,2,3,1,2,2.0,3.0,2,Friends+CCas+good result
2,UGRD,Foreigner,Malaysia,2,2,Bachelor of Science,M,School of Science,Halls,3,1,1,5,2,2,2.0,2.0,3,just want everything to go smooth. serious
3,UGRD,Foreigner,Malaysia,2,2,Bachelor of Engineering,M,School of Engineering,Halls,3,4,3,3,7,1,1.0,1.0,4,NaN
4,UGRD,Foreigner,Viet Nam,3,3,Bachelor of Engineering,F,School of Engineering,Out of Campus,4,3,4,5,4,2,2.0,2.0,5,a mixture of both academic and non-academic

In [43]:
for col in dataset.columns:
    print(type(dataset[col][0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.int64'>
<class 'float'>

# Dataset Details

Averages for each column within the dataset
    1. We take the average values for columns with numerical values
    2. We show distribution for values with columns with categorical values

In [58]:
#TODO: clean up values to ensure that there are no NaN values or invalid data


def get_distribution_information(columnName, column):
    print("Dictionary for " + columnName)
    dictionary = {}
    for category in column:
        if dictionary.get(category):
            dictionary[category] += 1
        else:
            dictionary[category] = 1
    print(dictionary)
    print('\n')
    return dictionary
    
def get_averages(dataset):
    for col in dataset.columns:
        if len(dataset[col]) > 0:
            if isinstance(dataset[col][0], str):
                get_distribution_information(col, dataset[col])
            if isinstance(dataset[col][0], np.int64):
                avg = np.average(dataset[col])
                print("Average " + str(col) + " is: " + str(avg))
                print('\n')

get_averages(dataset)

Dictionary for Career
{'UGRD': 2694, 'GRAD': 218, 'NGRD': 46}


Dictionary for Citizenship
{'Foreigner': 343, 'Country Citizen': 2467, 'Permanent Resident': 148}


Dictionary for Nationality
{'Indonesia': 39, 'Singapore': 2467, 'Malaysia': 130, 'Viet Nam': 20, 'Hong Kong': 4, 'Bangladesh': 2, 'India': 47, 'Myanmar': 7, 'Philippines': 3, 'Canada': 17, 'United States': 15, 'Poland': 1, 'China': 158, 'Mexico': 2, 'Australia': 1, 'Taiwan': 13, 'Korea, Republic of': 10, 'Thailand': 3, 'Switzerland': 1, 'Pakistan': 1, 'Nepal': 2, 'Israel': 1, 'Sri Lanka': 2, 'Germany': 3, 'British National Overseas': 1, 'France': 1, 'Japan': 2, 'United Kingdom': 2, 'Denmark': 1, 'Turkey': 1, 'Netherlands': 1}


Average Year since Matriculation is: 2.207234617985125


Average Year of Study is: 2.2062204192021637


Dictionary for Primary Programme
{'Bachelor of Science': 482, 'Bachelor of Engineering': 511, 'Bachelor of Business Admin': 307, 'Bachelor of Computing': 103, 'Bachelor of Science (Pharmacy)': 121, 'Master of Laws': 5, 'Bachelor of Science (SDE)': 132, 'Bachelor of Arts': 609, 'Doctor of Philosophy (FoS)': 22, 'Doctor of Philosophy (SoM)': 11, 'Master of Technology': 16, 'Master of Science (Mgt)': 3, 'Bachelor of Science (Nursing)': 52, 'Bachelor of Social Sciences': 115, 'Master in Public Policy': 2, 'Bachelor of Music': 6, 'Bachelor of Laws': 48, 'Bach. of Med.,Bach. of Surg.': 58, 'Master in Public Admin': 3, 'Exchange (Coursework)': 45, 'Bachelor of Science (SOC)': 25, 'Bachelor of Engineering (CEG)': 31, "Yale-University Bachelor's Program": 20, 'Bachelor of Arts (SDE)': 28, 'Doctor of Philosophy (FoE)': 26, 'Doctor of Philosophy (NGS)': 14, 'Master of Science (RSH-FoS)': 6, 'Master of Public Health': 3, 'Master of Science (FoE)': 18, 'Doctor of Philosophy (FASS)': 5, 'Master of Science (Track 2)': 4, 'Master of Engineering (FoE)': 5, 'Doctor of Medicine (MD)': 10, 'Doctor of Philosophy (SoC)': 8, 'Bachelor of Dental Surgery': 14, 'Bachelor of Env Studies (FOS)': 18, 'Master of Arts (RSH-FASS)': 4, 'Doctor of Philosophy (CSI)': 2, 'Master of Science (BZA)': 3, 'Bachelor of Env Studies (FASS)': 10, 'Master of Science (SoM)': 2, 'Master of Soc.Sci. (RSH-FASS)': 4, 'Master of Science (Track 1)': 5, 'Master of Business Admin': 3, 'Bachelor of Technology': 4, 'Master of Psychology': 2, 'Doctor of Philosophy (FoS-MBI)': 2, 'Graduate Diploma (FASS)': 1, 'Master of Science (SDE-L)': 5, 'Master of Computing': 2, 'Master of Science (TDSI-MDTS)': 1, 'Doctor of Philosophy (AKI)': 2, 'Doctor of Philosophy (BDG)': 1, 'Master of Urban Planning': 1, 'Master of Social Sciences': 2, 'Doctor of Philosophy (SDE)': 1, 'Graduate Diploma (ISS)': 3, 'Doctor of Philosophy (SPP)': 1, 'Master of Science (SDE)': 1, 'Doctor of Philosophy (CQT)': 1, 'Doctor of Pharmacy': 1, 'Master of Science (FoE-SCM)': 1, 'Master of Nursing': 1, 'Non-Exchange (Coursework)': 1, 'Master of Science (RMI)': 1, 'Doctor of Philosophy (BIZ)': 2, 'Doctor of Philosophy (NGS-MBI)': 1, 'Master of Arts': 1}


Dictionary for Gender
{'F': 1899, 'M': 1059}


Dictionary for Department
{'School of Science': 661, 'School of Engineering': 562, 'School of Business School': 318, 'School of Computing': 138, 'School of Law': 53, 'School of Design & Environment': 171, 'School of Arts & Social Science': 743, 'School of Medicine1': 126, 'School of Systems Science': 19, 'School of Public Policy': 6, 'School of Conservatory of Music': 6, 'School of Foreign College': 30, 'School of Exchange Students': 46, 'School of Multi Disciplinary Programme': 31, 'School of International Science': 16, 'School of Public Health': 3, 'School of Medicine2': 10, 'School of Dentistry': 14, 'School of Cont & Lifelong Edun': 3, 'School of Defence System': 1, 'School of Risk Management': 1}


Dictionary for Housing Type
{'Residences': 134, 'Out of Campus': 2038, 'Halls': 523, 'Residential Colleges': 263}


Average volunteer_events is: 1.2481406355645706


Average participated_events is: 1.4935767410412442


Average activities_interested_in is: 2.73394185260311


Average activities_passionate_about is: 3.184246112237999


Average stress_lvl is: 3.0919540229885056


Average satisfaction_lvl is: 1.9252873563218391


Average response_id is: 1479.5